.par {
		background-color: #ccc;
		color: #777;
		span {padding: .25em 0;}
	}

.hole {
		background-color: #f63;
		color: #fff;
		span {padding: .5em 0;}
}

.par {
		background-color: #ccc;
		color: #777;
		span {padding: .25em 0;}
}
.score {
		color: #f63;
		span {padding: .75em 0;}
}
.input{
        color: #f63;
        width: 25px;
        border: 1px solid transparent;
        text-align: center;
}
	span {
		border: rgba(0,0,0,.25) solid 1px;
		border-width: 0 0 0 1px;
		display: inline-block;
		text-align: center;
		width: 3em;

		&:first-child {
			text-align: left;
			padding-left: 1em;
			border-width: 0;
		}
	}


@media screen and (min-width: 80em)
{
	.front9, .back9 {
		display: inline-block
	}
	.back9 span:first-child {
		display: none;
	}
}
