<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golf</title>

</head>
<body>
<a href="{{ url_for('home') }}">Home<a/>
<a href="{{ url_for('create_course') }}">Create Course<a/>

{% block content %}

{% endblock %}
</body>
</html>