{% extends 'base.jinja2' %}

{% block content %}
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Scorecard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">


      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../static/javascript/script.js"></script>
</head>

<div class="container">

  <header>
    <h1>New Course</h1>
      <form method="POST" id="courseform" name="courseform">
        <div class="collectdata">
        <label for="coursename">Name: </label>
        <input type="text" class="course_data" name="coursename" id="coursename" required>
        <label for="slope">Slope: </label>
        <input type="number" class="course_data" name="slope" id="slope" min="55" max="155">
        <br>
        <label for="city">City: </label>
        <input type="text" class="course_data" name="city" id="city">
        <label for="state">State: </label>
        <input type="text" class="course_data" name="state" id="state">
        </div>
    <br>
    <br>
  </header>

  <span id="basic"></span>


  <section>
    <table class="responsive-table scorecard">
    <br>
      <caption>

      </caption>
      <thead>
        <tr class="hole-number">
          <th scope="col"></th>
          <th data-title="1" scope="col">1</th>
          <th data-title="2" scope="col">2</th>
          <th data-title="3" scope="col">3</th>
          <th data-title="4" scope="col">4</th>
          <th data-title="5" scope="col">5</th>
          <th data-title="6" scope="col">6</th>
          <th data-title="7" scope="col">7</th>
          <th data-title="8" scope="col">8</th>
          <th data-title="9" scope="col">9</th>

          <th data-title="Out" scope="col">Out</th>

          <th data-title="10" scope="col">10</th>
          <th data-title="11" scope="col">11</th>
          <th data-title="12" scope="col">12</th>
          <th data-title="13" scope="col">13</th>
          <th data-title="14" scope="col">14</th>
          <th data-title="15" scope="col">15</th>
          <th data-title="16" scope="col">16</th>
          <th data-title="17" scope="col">17</th>
          <th data-title="18" scope="col">18</th>

          <th data-title="In" scope="col">In</th>

          <th data-title="Total" scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th data-type="player">Distance</th>
          <td>
             <input type="text" class="score_input" id="h1d" name="h1d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h2d" name="h2d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h3d" name="h3d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h4d" name="h4d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h5d" name="h5d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h6d" name="h6d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h7d" name="h7d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h8d" name="h8d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h9d" name="h9d" maxlength="3">
          </td>
          <td>
             {{ front_9 }}
          </td>

          <td>
             <input type="text" class="score_input" id="h10d" name="h10d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h11d" name="h11d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h12d" name="h12d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h13d" name="h13d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h14d" name="h14d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h15d" name="h15d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h16d" name="h16d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h17d" name="h17d" maxlength="3">
          </td>
          <td>
             <input type="text" class="score_input" id="h18d" name="h18d" maxlength="3">
          </td>
          <td>{{ back_9 }}</td>
          <td>{{ total_score }}</td>
        </tr>

        <tr>
          <th data-type="player">Handicap</th>
          <td>
             <input type="text" class="score_input" id="h1h" name="h1h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h2h" name="h2h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h3h" name="h3h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h4h" name="h4h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h5h" name="h5h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h6h" name="h6h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h7h" name="h7h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h8h" name="h8h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h9h" name="h9h" maxlength="2">
          </td>
          <td>&nbsp;</td>

          <td>
             <input type="text" class="score_input" id="h10h" name="h10h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h11h" name="h11h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h12h" name="h12h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h13h" name="h13h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h14h" name="h14h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h15h" name="h15h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h16h" name="h16h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h17h" name="h17h" maxlength="2">
          </td>
          <td>
             <input type="text" class="score_input" id="h18h" name="h18h" maxlength="2">
          </td>
          <td>&nbsp;</td>

          <td>&nbsp;</td>
        </tr>

        <tr>
          <th data-type="player">Par</th>
          <td>
             <input type="text" class="score_input" id="h1p" name="h1p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h2p" name="h2p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h3p" name="h3p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h4p" name="h4p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h5p" name="h5p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h6p" name="h6p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h7p" name="h7p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h8p" name="h8p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h9p" name="h9p" maxlength="1">
          </td>
          <td></td>
          <td>
             <input type="text" class="score_input" id="h10p" name="h10p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h11p" name="h11p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h12p" name="h12p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h13p" name="h13p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h14p" name="h14p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h15p" name="h15p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h16p" name="h16p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h17p" name="h17p" maxlength="1">
          </td>
          <td>
             <input type="text" class="score_input" id="h18p" name="h18p" maxlength="1">
          </td>

          <td></td>
          <td></td>
        </tr>

      </tbody>

      <tfoot>
      </tfoot>
    </table>
  </section>

    <div class="submit_button">
             <input type="submit" class="submit_button" value="Submit New Course" onclick="this.form.submit()"">
    </div>
    </form>
  </div>

  </body>
{% endblock %}