{% extends 'base.jinja2' %}

{% block content %}
<h2>{{ name }} was successfully added to the database</h2>
<br>
<br>
<br>
<h3>Available Courses</h3>
<ul>
    {% for course in courses_list %}
        <li>{{course['name']}} in {{ course['city'] }}, {{ course['state'] }}</li>
    {% endfor %}
</ul>
{% endblock %}
