{% extends 'base.jinja2' %}

{% block content %}
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Scorecard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">


      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../static/javascript/script.js"></script>
</head>

<div class="container">

  <header>
    <h1>Scorecard</h1>
    <p colspan="9" id="selected_course"><strong>{{ course_dict['name'] }}</strong> in {{ course_dict['city'] }}, {{ course_dict['state'] }}
    <br>
    <i>Slope: {{ course_dict['slope'] }}</i>
    <form method="POST" id="scorecard" name="scorecard">
    <div class="round_date">
        <label for="round_date" class="round_date">Round Date: </label>
        <input type="date" required="required" class="round_date" id="round_date" name="round_date" min="2017-01-01" max="2030-12-3"/>
    <div>
    </p>

  </header>

  <span id="basic"></span>


  <section>
    <table class="responsive-table scorecard">
      <thead>
        <tr class="hole-number">
          <th scope="col"></th>
          <th data-title="1" scope="col">1</th>
          <th data-title="2" scope="col">2</th>
          <th data-title="3" scope="col">3</th>
          <th data-title="4" scope="col">4</th>
          <th data-title="5" scope="col">5</th>
          <th data-title="6" scope="col">6</th>
          <th data-title="7" scope="col">7</th>
          <th data-title="8" scope="col">8</th>
          <th data-title="9" scope="col">9</th>

          <th data-title="Out" scope="col">Out</th>

          <th data-title="10" scope="col">10</th>
          <th data-title="11" scope="col">11</th>
          <th data-title="12" scope="col">12</th>
          <th data-title="13" scope="col">13</th>
          <th data-title="14" scope="col">14</th>
          <th data-title="15" scope="col">15</th>
          <th data-title="16" scope="col">16</th>
          <th data-title="17" scope="col">17</th>
          <th data-title="18" scope="col">18</th>

          <th data-title="In" scope="col">In</th>

          <th data-title="Total" scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th data-type="player" class"rowheader">Distance</th>
          <td>{{ course_dict['distance']['hole_distances'][0] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][1] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][2] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][3] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][4] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][5] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][6] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][7] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][8] }}</td>
          <td>{{ course_dict['distance']['front_9_distance'] }}</td>

          <td>{{ course_dict['distance']['hole_distances'][9] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][10] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][11] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][12] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][13] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][14] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][15] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][16] }}</td>
          <td>{{ course_dict['distance']['hole_distances'][17] }}</td>
          <td>{{ course_dict['distance']['back_9_distance'] }}</td>

          <td>{{ course_dict['distance']['total_distance'] }}</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Handicap</th>
          <td>{{ course_dict['handicap']['hole_handicaps'][0] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][1] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][2] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][3] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][4] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][5] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][6] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][7] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][8] }}</td>
          <td>&nbsp;</td>

          <td>{{ course_dict['handicap']['hole_handicaps'][9] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][10] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][11] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][12] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][13] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][14] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][15] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][16] }}</td>
          <td>{{ course_dict['handicap']['hole_handicaps'][17] }}</td>
          <td>&nbsp;</td>

          <td>&nbsp;</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Par</th>
          <td>{{ course_dict['par']['hole_pars'][0] }}</td>
          <td>{{ course_dict['par']['hole_pars'][1] }}</td>
          <td>{{ course_dict['par']['hole_pars'][2] }}</td>
          <td>{{ course_dict['par']['hole_pars'][3] }}</td>
          <td>{{ course_dict['par']['hole_pars'][4] }}</td>
          <td>{{ course_dict['par']['hole_pars'][5] }}</td>
          <td>{{ course_dict['par']['hole_pars'][6] }}</td>
          <td>{{ course_dict['par']['hole_pars'][7] }}</td>
          <td>{{ course_dict['par']['hole_pars'][8] }}</td>
          <td>{{ course_dict['par']['front_9_par'] }}</td>

          <td>{{ course_dict['par']['hole_pars'][9] }}</td>
          <td>{{ course_dict['par']['hole_pars'][10] }}</td>
          <td>{{ course_dict['par']['hole_pars'][11] }}</td>
          <td>{{ course_dict['par']['hole_pars'][12] }}</td>
          <td>{{ course_dict['par']['hole_pars'][13] }}</td>
          <td>{{ course_dict['par']['hole_pars'][14] }}</td>
          <td>{{ course_dict['par']['hole_pars'][15] }}</td>
          <td>{{ course_dict['par']['hole_pars'][16] }}</td>
          <td>{{ course_dict['par']['hole_pars'][17] }}</td>
          <td>{{ course_dict['par']['back_9_par'] }}</td>

          <td>{{ course_dict['par']['total_par'] }}</td>
        </tr>

        <tr>

          <th data-type="player" class"rowheader">
            <select class="selectplayer" name="golfer_1" id="golfer_1">
                <option value="" selected disabled hidden></option>
                {% for golfer in golfers_list %}
                    <option value="{{ golfer['name'] }}" id="{{ golfer['name'] }}">{{ golfer['name'] }}</option>
                {% endfor %}
        </select>
          </th>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][0] }}">
                <input type="text" class="score_input" id="p1_hole_1_score" name="p1_hole_1_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][1] }}">
                <input type="text" class="score_input" id="p1_hole_2_score" name="p1_hole_2_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][2] }}">
                <input type="text" class="score_input" id="p1_hole_3_score" name="p1_hole_3_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][3] }}">
                <input type="text" class="score_input" id="p1_hole_4_score" name="p1_hole_4_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][4] }}">
                <input type="text" class="score_input" id="p1_hole_5_score" name="p1_hole_5_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][5] }}">
                <input type="text" class="score_input" id="p1_hole_6_score" name="p1_hole_6_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][6] }}">
                <input type="text" class="score_input" id="p1_hole_7_score" name="p1_hole_7_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][7] }}">
                <input type="text" class="score_input" id="p1_hole_8_score" name="p1_hole_8_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][8] }}">
                <input type="text" class="score_input" id="p1_hole_9_score" name="p1_hole_9_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td>
            <span class="{{ round['score_styles']['p1']['styles'][9] }}">
                <input type="text" class="score_input" id="p1_hole_10_score" name="p1_hole_10_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][10] }}">
                <input type="text" class="score_input" id="p1_hole_11_score" name="p1_hole_11_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][11] }}">
                <input type="text" class="score_input" id="p1_hole_12_score" name="p1_hole_12_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][12] }}">
                <input type="text" class="score_input" id="p1_hole_13_score" name="p1_hole_13_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][13] }}">
                <input type="text" class="score_input" id="p1_hole_14_score" name="p1_hole_14_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][14] }}">
                <input type="text" class="score_input" id="p1_hole_15_score" name="p1_hole_15_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][15] }}">
                <input type="text" class="score_input" id="p1_hole_16_score" name="p1_hole_16_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][16] }}">
                <input type="text" class="score_input" id="p1_hole_17_score" name="p1_hole_17_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{ round['score_styles']['p1']['styles'][17] }}">
                <input type="text" class="score_input" id="p1_hole_18_score" name="p1_hole_18_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td></td>
        </tr>

        <tr>

          <th data-type="player" class"rowheader">
            <select class="selectplayer" name="golfer_2" id="golfer_2">
                <option value="" selected disabled hidden></option>
                {% for golfer in golfers_list %}
                    <option value="{{ golfer['name'] }}" id="{{ golfer['name'] }}">{{ golfer['name'] }}</option>
                {% endfor %}
        </select>
          </th>
          <td>
            <span class="{{hole_1_style}}">
                <input type="text" class="score_input" id="p2_hole_1_score" name="p2_hole_1_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_2_style}}">
                <input type="text" class="score_input" id="p2_hole_2_score" name="p2_hole_2_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_3_style}}">
                <input type="text" class="score_input" id="p2_hole_3_score" name="p2_hole_3_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_4_style}}">
                <input type="text" class="score_input" id="p2_hole_4_score" name="p2_hole_4_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_5_style}}">
                <input type="text" class="score_input" id="p2_hole_5_score" name="p2_hole_5_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_6_style}}">
                <input type="text" class="score_input" id="p2_hole_6_score" name="p2_hole_6_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_7_style}}">
                <input type="text" class="score_input" id="p2_hole_7_score" name="p2_hole_7_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_8_style}}">
                <input type="text" class="score_input" id="p2_hole_8_score" name="p2_hole_8_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_9_style}}">
                <input type="text" class="score_input" id="p2_hole_9_score" name="p2_hole_9_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td>
            <span class="{{hole_10_style}}">
                <input type="text" class="score_input" id="p2_hole_10_score" name="p2_hole_10_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_11_style}}">
                <input type="text" class="score_input" id="p2_hole_11_score" name="p2_hole_11_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_12_style}}">
                <input type="text" class="score_input" id="p2_hole_12_score" name="p2_hole_12_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_13_style}}">
                <input type="text" class="score_input" id="p2_hole_13_score" name="p2_hole_13_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_14_style}}">
                <input type="text" class="score_input" id="p2_hole_14_score" name="p2_hole_14_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_15_style}}">
                <input type="text" class="score_input" id="p2_hole_15_score" name="p2_hole_15_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_16_style}}">
                <input type="text" class="score_input" id="p2_hole_16_score" name="p2_hole_16_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_17_style}}">
                <input type="text" class="score_input" id="p2_hole_17_score" name="p2_hole_17_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_18_style}}">
                <input type="text" class="score_input" id="p2_hole_18_score" name="p2_hole_18_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td></td>
        </tr>
        <tr>

          <th data-type="player" class"rowheader">
            <select class="selectplayer" name="golfer_3" id="golfer_3">
                <option value="" selected disabled hidden></option>
                {% for golfer in golfers_list %}
                    <option value="{{ golfer['name'] }}" id="{{ golfer['name'] }}">{{ golfer['name'] }}</option>
                {% endfor %}
        </select>
          </th>
          <td>
            <span class="{{hole_1_style}}">
                <input type="text" class="score_input" id="p3_hole_1_score" name="p3_hole_1_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_2_style}}">
                <input type="text" class="score_input" id="p3_hole_2_score" name="p3_hole_2_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_3_style}}">
                <input type="text" class="score_input" id="p3_hole_3_score" name="p3_hole_3_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_4_style}}">
                <input type="text" class="score_input" id="p3_hole_4_score" name="p3_hole_4_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_5_style}}">
                <input type="text" class="score_input" id="p3_hole_5_score" name="p3_hole_5_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_6_style}}">
                <input type="text" class="score_input" id="p3_hole_6_score" name="p3_hole_6_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_7_style}}">
                <input type="text" class="score_input" id="p3_hole_7_score" name="p3_hole_7_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_8_style}}">
                <input type="text" class="score_input" id="p3_hole_8_score" name="p3_hole_8_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_9_style}}">
                <input type="text" class="score_input" id="p3_hole_9_score" name="p3_hole_9_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td>
            <span class="{{hole_10_style}}">
                <input type="text" class="score_input" id="p3_hole_10_score" name="p3_hole_10_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_11_style}}">
                <input type="text" class="score_input" id="p3_hole_11_score" name="p3_hole_11_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_12_style}}">
                <input type="text" class="score_input" id="p3_hole_12_score" name="p3_hole_12_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_13_style}}">
                <input type="text" class="score_input" id="p3_hole_13_score" name="p3_hole_13_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_14_style}}">
                <input type="text" class="score_input" id="p3_hole_14_score" name="p3_hole_14_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_15_style}}">
                <input type="text" class="score_input" id="p3_hole_15_score" name="p3_hole_15_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_16_style}}">
                <input type="text" class="score_input" id="p3_hole_16_score" name="p3_hole_16_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_17_style}}">
                <input type="text" class="score_input" id="p3_hole_17_score" name="p3_hole_17_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_18_style}}">
                <input type="text" class="score_input" id="p3_hole_18_score" name="p3_hole_18_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td></td>
        </tr>
        
        
        
        <tr>
          <th data-type="player" class"rowheader">
            <select class="selectplayer" name="golfer_4" id="golfer_4">
                <option value="" selected disabled hidden></option>
                {% for golfer in golfers_list %}
                    <option value="{{ golfer['name'] }}" id="{{ golfer['name'] }}">{{ golfer['name'] }}</option>
                {% endfor %}
        </select>
          </th>
          <td>
            <span class="{{hole_1_style}}">
                <input type="text" class="score_input" id="p4_hole_1_score" name="p4_hole_1_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_2_style}}">
                <input type="text" class="score_input" id="p4_hole_2_score" name="p4_hole_2_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_3_style}}">
                <input type="text" class="score_input" id="p4_hole_3_score" name="p4_hole_3_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_4_style}}">
                <input type="text" class="score_input" id="p4_hole_4_score" name="p4_hole_4_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_5_style}}">
                <input type="text" class="score_input" id="p4_hole_5_score" name="p4_hole_5_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_6_style}}">
                <input type="text" class="score_input" id="p4_hole_6_score" name="p4_hole_6_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_7_style}}">
                <input type="text" class="score_input" id="p4_hole_7_score" name="p4_hole_7_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_8_style}}">
                <input type="text" class="score_input" id="p4_hole_8_score" name="p4_hole_8_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_9_style}}">
                <input type="text" class="score_input" id="p4_hole_9_score" name="p4_hole_9_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td>
            <span class="{{hole_10_style}}">
                <input type="text" class="score_input" id="p4_hole_10_score" name="p4_hole_10_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_11_style}}">
                <input type="text" class="score_input" id="p4_hole_11_score" name="p4_hole_11_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_12_style}}">
                <input type="text" class="score_input" id="p4_hole_12_score" name="p4_hole_12_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_13_style}}">
                <input type="text" class="score_input" id="p4_hole_13_score" name="p4_hole_13_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_14_style}}">
                <input type="text" class="score_input" id="p4_hole_14_score" name="p4_hole_14_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_15_style}}">
                <input type="text" class="score_input" id="p4_hole_15_score" name="p4_hole_15_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_16_style}}">
                <input type="text" class="score_input" id="p4_hole_16_score" name="p4_hole_16_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_17_style}}">
                <input type="text" class="score_input" id="p4_hole_17_score" name="p4_hole_17_score" maxlength="2">
            </span>
          </td>
          <td>
            <span class="{{hole_18_style}}">
                <input type="text" class="score_input" id="p4_hole_18_score" name="p4_hole_18_score" maxlength="2">
            </span>
          </td>
          <td></td>

          <td></td>
        </tr>

      </tbody>

      <tfoot>

      </tfoot>
    </table>
  </section>
   <div class="submit_button">
        <input type="submit" class="submit_button" value="Submit Scorecard">
   </div>
    </form>
  </div>
  </body>
{% endblock %}