{% extends 'base.jinja2' %}

{% block content %}

<h3>Available Golfers</h3>
<ul id="golfers">
    {% for golfer in golfer_list %}
        <a href="{{ url_for('golfer_details', name=golfer['name']) }}">{{golfer['name']}}</a>
    {% endfor %}
</ul>

{% endblock %}
