{% extends 'base.jinja2' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/scorecard.css') }}">
</head>
</body>
    <form method="POST">
    <h1>Scorecard</h1>
    <article class="front9">
        <div class="hole">
            <span>Front</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>Out</span>
        </div>
        <div class="par">
            <span>Par</span>
            <span>3</span>
            <span>5</span>
            <span>4</span>
            <span>4</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>4</span>
            <span>4</span>
            <span>36</span>
        </div>
        <div class="score">
            <span>Score</span>
            <span>
                <input type="text" class="input" id="hole_1" name="hole_1" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_2" name="hole_2" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_3" name="hole_3" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_4" name="hole_4" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_5" name="hole_5" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_6" name="hole_6" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_7" name="hole_7" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_8" name="hole_8" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_9" name="hole_9" maxlength="2">
            </span>
            <span class="sub">{{ front_9 }}</span>
        </div>
    </article>
    <article class="back9">
        <div class="hole">
            <span>Back</span>
            <span>10</span>
            <span>11</span>
            <span>12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
            <span>18</span>
            <span>In</span>
            <span>Total</span>
        </div>
        <div class="par">
            <span>Par</span>
            <span>5</span>
            <span>3</span>
            <span>4</span>
            <span>3</span>
            <span>5</span>
            <span>4</span>
            <span>4</span>
            <span>3</span>
            <span>5</span>
            <span>36</span>
            <span>72</span>
        </div>
        <div class="score">
            <span>Score</span>
            <span>
                <input type="text" class="input" id="hole_10" name="hole_10" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_11" name="hole_11" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_12" name="hole_12" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_13" name="hole_13" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_14" name="hole_14" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_15" name="hole_15" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_16" name="hole_16" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_17" name="hole_17" maxlength="2">
            </span>
            <span>
                <input type="text" class="input" id="hole_18" name="hole_18" maxlength="2">
            </span>
            <span class="sub">{{ back_9 }}</span>
            <span class="total">{{ total_score }}</span>
        </div>
    </article>
    <br>
    <br>
    <input type="submit" class="calculate" value="Calculate Score">
    <br>
    <br>
    <input type="submit" class="submit" value="Submit Round">
    </form>
</body>
{% endblock %}