{% extends 'base.jinja2' %}

{% block content %}
<head>
        <link rel="stylesheet" type="text/css" href="css/scorecard.css">
</head>
<h1>Scorecard</h1>
<article class="front9">
    <div class="hole">
        <span>Front</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>Out</span>
    </div>
    <div class="par">
        <span>Par</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>36</span>
    </div>
    <div class="score">
        <span>Score</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>3</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span class="sub">36</span>
    </div>
</article>
<article class="back9">
    <div class="hole">
        <span>Back</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>In</span>
        <span>Total</span>
    </div>
    <div class="par">
        <span>Par</span>
        <span>5</span>
        <span>3</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>4</span>
        <span>4</span>
        <span>3</span>
        <span>5</span>
        <span>36</span>
		<span>72</span>
    </div>
    <div class="score">
        <span>Score</span>
        <span>6</span>
        <span>2</span>
        <span>5</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>6</span>
        <span class="sub">41</span>
        <span class="total">77</span>
    </div>
</article>
{% endblock %}