{% extends 'base.jinja2' %}

{% block content %}
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Scorecard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">


      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../static/javascript/script.js"></script>
</head>

<div class="container">

  <header>
    <h1>Scorecard</h1>
    <p colspan="9" id="selected_course"><strong>{{ round['course name'] }}</strong> in {{ round['city'] }}, {{ round['state'] }}
      on {{ round['date'] }}
    <br>
    <i>Slope: {{ round['slope'] }}</i>
    </p>

  </header>

  <span id="basic"></span>


  <section>
    <table class="responsive-table scorecard">
      <thead>
        <tr class="hole-number">
          <th scope="col"></th>
          <th data-title="1" scope="col">1</th>
          <th data-title="2" scope="col">2</th>
          <th data-title="3" scope="col">3</th>
          <th data-title="4" scope="col">4</th>
          <th data-title="5" scope="col">5</th>
          <th data-title="6" scope="col">6</th>
          <th data-title="7" scope="col">7</th>
          <th data-title="8" scope="col">8</th>
          <th data-title="9" scope="col">9</th>

          <th data-title="Out" scope="col">Out</th>

          <th data-title="10" scope="col">10</th>
          <th data-title="11" scope="col">11</th>
          <th data-title="12" scope="col">12</th>
          <th data-title="13" scope="col">13</th>
          <th data-title="14" scope="col">14</th>
          <th data-title="15" scope="col">15</th>
          <th data-title="16" scope="col">16</th>
          <th data-title="17" scope="col">17</th>
          <th data-title="18" scope="col">18</th>

          <th data-title="In" scope="col">In</th>

          <th data-title="Total" scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th data-type="player" class"rowheader">Distance</th>
          <td>{{ round['distance'][0] }}</td>
          <td>{{ round['distance'][1] }}</td>
          <td>{{ round['distance'][2] }}</td>
          <td>{{ round['distance'][3] }}</td>
          <td>{{ round['distance'][4] }}</td>
          <td>{{ round['distance'][5] }}</td>
          <td>{{ round['distance'][6] }}</td>
          <td>{{ round['distance'][7] }}</td>
          <td>{{ round['distance'][8] }}</td>
          <td>{{ front_9_distance }}</td>

          <td>{{ round['distance'][9] }}</td>
          <td>{{ round['distance'][10] }}</td>
          <td>{{ round['distance'][11] }}</td>
          <td>{{ round['distance'][12] }}</td>
          <td>{{ round['distance'][13] }}</td>
          <td>{{ round['distance'][14] }}</td>
          <td>{{ round['distance'][15] }}</td>
          <td>{{ round['distance'][16] }}</td>
          <td>{{ round['distance'][17] }}</td>
          <td>{{ back_9_distance }}</td>

          <td>{{ total_distance }}</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Handicap</th>
          <td>{{ round['handicap'][0] }}</td>
          <td>{{ round['handicap'][1] }}</td>
          <td>{{ round['handicap'][2] }}</td>
          <td>{{ round['handicap'][3] }}</td>
          <td>{{ round['handicap'][4] }}</td>
          <td>{{ round['handicap'][5] }}</td>
          <td>{{ round['handicap'][6] }}</td>
          <td>{{ round['handicap'][7] }}</td>
          <td>{{ round['handicap'][8] }}</td>
          <td>&nbsp;</td>

          <td>{{ round['handicap'][9] }}</td>
          <td>{{ round['handicap'][10] }}</td>
          <td>{{ round['handicap'][11] }}</td>
          <td>{{ round['handicap'][12] }}</td>
          <td>{{ round['handicap'][13] }}</td>
          <td>{{ round['handicap'][14] }}</td>
          <td>{{ round['handicap'][15] }}</td>
          <td>{{ round['handicap'][16] }}</td>
          <td>{{ round['handicap'][17] }}</td>
          <td>&nbsp;</td>

          <td>&nbsp;</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Par</th>
          <td>{{ round['par'][0] }}</td>
          <td>{{ round['par'][1] }}</td>
          <td>{{ round['par'][2] }}</td>
          <td>{{ round['par'][3] }}</td>
          <td>{{ round['par'][4] }}</td>
          <td>{{ round['par'][5] }}</td>
          <td>{{ round['par'][6] }}</td>
          <td>{{ round['par'][7] }}</td>
          <td>{{ round['par'][8] }}</td>
          <td>{{ front_9_par }}</td>

          <td>{{ round['par'][9] }}</td>
          <td>{{ round['par'][10] }}</td>
          <td>{{ round['par'][11] }}</td>
          <td>{{ round['par'][12] }}</td>
          <td>{{ round['par'][13] }}</td>
          <td>{{ round['par'][14] }}</td>
          <td>{{ round['par'][15] }}</td>
          <td>{{ round['par'][16] }}</td>
          <td>{{ round['par'][17] }}</td>
          <td>{{ sum(round['par'] }}</td>

          <td>{{ total_par }}</td>
        </tr>

        <tr>

          <th data-type="player" class"rowheader">
            {{ p1_name }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ p1h1 }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ p1h2 }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ p1h3 }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ p1h4 }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ p1h5 }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ p1h6 }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ p1h7 }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ p1h8 }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ p1h9 }}</span>
          </td>
          <td><span>{{ p1f9 }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ p1h10 }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ p1h11 }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ p1h12 }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ p1h13 }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ p1h14 }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ p1h15 }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ p1h16 }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ p1h17 }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ p1h18 }}</span>
          </td>
          <td><span>{{ p1b9 }}</span></td>

          <td><span>{{ p1_total_score }}</span></td>
        </tr>
        
        
                <tr>

          <th data-type="player" class"rowheader">
            {{ p2_name }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ p2h1 }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ p2h2 }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ p2h3 }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ p2h4 }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ p2h5 }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ p2h6 }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ p2h7 }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ p2h8 }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ p2h9 }}</span>
          </td>
          <td><span>{{ p2f9 }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ p2h10 }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ p2h11 }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ p2h12 }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ p2h13 }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ p2h14 }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ p2h15 }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ p2h16 }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ p2h17 }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ p2h18 }}</span>
          </td>
          <td><span>{{ p2b9 }}</span></td>

          <td><span>{{ p2_total_score }}</span></td>
        </tr>
        
        
                <tr>

          <th data-type="player" class"rowheader">
            {{ p3_name }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ p3h1 }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ p3h2 }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ p3h3 }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ p3h4 }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ p3h5 }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ p3h6 }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ p3h7 }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ p3h8 }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ p3h9 }}</span>
          </td>
          <td><span>{{ p3f9 }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ p3h10 }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ p3h11 }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ p3h12 }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ p3h13 }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ p3h14 }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ p3h15 }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ p3h16 }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ p3h17 }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ p3h18 }}</span>
          </td>
          <td><span>{{ p3b9 }}</span></td>

          <td><span>{{ p3_total_score }}</span></td>
        </tr>
        

        <tr>

          <th data-type="player" class"rowheader">
            {{ p4_name }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ p4h1 }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ p4h2 }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ p4h3 }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ p4h4 }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ p4h5 }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ p4h6 }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ p4h7 }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ p4h8 }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ p4h9 }}</span>
          </td>
          <td><span>{{ p4f9 }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ p4h10 }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ p4h11 }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ p4h12 }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ p4h13 }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ p4h14 }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ p4h15 }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ p4h16 }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ p4h17 }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ p4h18 }}</span>
          </td>
          <td><span>{{ p4b9 }}</span></td>

          <td><span>{{ p4_total_score }}</span></td>
        </tr>

      </tbody>

      <tfoot>

      </tfoot>
    </table>
  </section>
  </div>
  </body>
{% endblock %}