{% extends 'base.jinja2' %}

{% block content %}
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Scorecard</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">


      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../static/javascript/script.js"></script>
</head>

<div class="container">

  <header>
    <h1>Scorecard</h1>
    <p colspan="9" id="selected_course"><strong>{{ round['course']['name'] }}</strong> in
    {{ round['course']['city'] }}, {{ round['course']['state'] }}
      on {{ round['date'] }}
    <br>
    <i>Slope: {{ round['course']['slope'] }}</i>
    </p>

  </header>

  <span id="basic"></span>


  <section>
    <table class="responsive-table scorecard">
      <thead>
        <tr class="hole-number">
          <th scope="col"></th>
          <th data-title="1" scope="col">1</th>
          <th data-title="2" scope="col">2</th>
          <th data-title="3" scope="col">3</th>
          <th data-title="4" scope="col">4</th>
          <th data-title="5" scope="col">5</th>
          <th data-title="6" scope="col">6</th>
          <th data-title="7" scope="col">7</th>
          <th data-title="8" scope="col">8</th>
          <th data-title="9" scope="col">9</th>

          <th data-title="Out" scope="col">Out</th>

          <th data-title="10" scope="col">10</th>
          <th data-title="11" scope="col">11</th>
          <th data-title="12" scope="col">12</th>
          <th data-title="13" scope="col">13</th>
          <th data-title="14" scope="col">14</th>
          <th data-title="15" scope="col">15</th>
          <th data-title="16" scope="col">16</th>
          <th data-title="17" scope="col">17</th>
          <th data-title="18" scope="col">18</th>

          <th data-title="In" scope="col">In</th>

          <th data-title="Total" scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th data-type="player" class"rowheader">Distance</th>
          <td>{{ round['course']['distance']['hole_distances'][0] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][1] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][2] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][3] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][4] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][5] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][6] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][7] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][8] }}</td>
          <td>{{ round['course']['distance']['front_9_distance'] }}</td>

          <td>{{ round['course']['distance']['hole_distances'][9] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][10] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][11] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][12] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][13] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][14] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][15] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][16] }}</td>
          <td>{{ round['course']['distance']['hole_distances'][17] }}</td>
          <td>{{ round['course']['distance']['back_9_distance'] }}</td>

          <td>{{ round['course']['distance']['total_distance'] }}</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Handicap</th>
          <td>{{ round['course']['handicap'][0] }}</td>
          <td>{{ round['course']['handicap'][1] }}</td>
          <td>{{ round['course']['handicap'][2] }}</td>
          <td>{{ round['course']['handicap'][3] }}</td>
          <td>{{ round['course']['handicap'][4] }}</td>
          <td>{{ round['course']['handicap'][5] }}</td>
          <td>{{ round['course']['handicap'][6] }}</td>
          <td>{{ round['course']['handicap'][7] }}</td>
          <td>{{ round['course']['handicap'][8] }}</td>
          <td>&nbsp;</td>

          <td>{{ round['course']['handicap'][9] }}</td>
          <td>{{ round['course']['handicap'][10] }}</td>
          <td>{{ round['course']['handicap'][11] }}</td>
          <td>{{ round['course']['handicap'][12] }}</td>
          <td>{{ round['course']['handicap'][13] }}</td>
          <td>{{ round['course']['handicap'][14] }}</td>
          <td>{{ round['course']['handicap'][15] }}</td>
          <td>{{ round['course']['handicap'][16] }}</td>
          <td>{{ round['course']['handicap'][17] }}</td>
          <td>&nbsp;</td>

          <td>&nbsp;</td>
        </tr>

        <tr>
          <th data-type="player" class"rowheader">Par</th>
          <td>{{ round['course']['par']['hole_pars'][0] }}</td>
          <td>{{ round['course']['par']['hole_pars'][1] }}</td>
          <td>{{ round['course']['par']['hole_pars'][2] }}</td>
          <td>{{ round['course']['par']['hole_pars'][3] }}</td>
          <td>{{ round['course']['par']['hole_pars'][4] }}</td>
          <td>{{ round['course']['par']['hole_pars'][5] }}</td>
          <td>{{ round['course']['par']['hole_pars'][6] }}</td>
          <td>{{ round['course']['par']['hole_pars'][7] }}</td>
          <td>{{ round['course']['par']['hole_pars'][8] }}</td>
          <td>{{ round['course']['par']['front_9_par'] }}</td>

          <td>{{ round['course']['par']['hole_pars'][9] }}</td>
          <td>{{ round['course']['par']['hole_pars'][10] }}</td>
          <td>{{ round['course']['par']['hole_pars'][11] }}</td>
          <td>{{ round['course']['par']['hole_pars'][12] }}</td>
          <td>{{ round['course']['par']['hole_pars'][13] }}</td>
          <td>{{ round['course']['par']['hole_pars'][14] }}</td>
          <td>{{ round['course']['par']['hole_pars'][15] }}</td>
          <td>{{ round['course']['par']['hole_pars'][16] }}</td>
          <td>{{ round['course']['par']['hole_pars'][17] }}</td>
          <td>{{ round['course']['par']['back_9_par'] }}</td>

          <td>{{ round['course']['par']['total_par'] }}</td>
        </tr>

        <tr>

          <th data-type="player" class"rowheader">
            {{ round['scores']['p1']['name'] }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ round['scores']['p1']['p1_list'][0] }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ round['scores']['p1']['p1_list'][1] }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ round['scores']['p1']['p1_list'][2] }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ round['scores']['p1']['p1_list'][3] }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ round['scores']['p1']['p1_list'][4] }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ round['scores']['p1']['p1_list'][5] }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ round['scores']['p1']['p1_list'][6] }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ round['scores']['p1']['p1_list'][7] }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ round['scores']['p1']['p1_list'][8] }}</span>
          </td>
          <td><span>{{ round['scores']['p1']['p1_front_9'] }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ round['scores']['p1']['p1_list'][9] }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ round['scores']['p1']['p1_list'][10] }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ round['scores']['p1']['p1_list'][11] }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ round['scores']['p1']['p1_list'][12] }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ round['scores']['p1']['p1_list'][13] }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ round['scores']['p1']['p1_list'][14] }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ round['scores']['p1']['p1_list'][15] }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ round['scores']['p1']['p1_list'][16] }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ round['scores']['p1']['p1_list'][17] }}</span>
          </td>
          <td><span>{{ round['scores']['p1']['p1_back_9'] }}</span></td>

          <td><span>{{ round['scores']['p1']['p1_total'] }}</span></td>
        </tr>
        
        
                <tr>

          <th data-type="player" class"rowheader">
            {{ round['scores']['p2']['name'] }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ round['scores']['p2']['p2_list'][0] }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ round['scores']['p2']['p2_list'][1] }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ round['scores']['p2']['p2_list'][2] }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ round['scores']['p2']['p2_list'][3] }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ round['scores']['p2']['p2_list'][4] }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ round['scores']['p2']['p2_list'][5] }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ round['scores']['p2']['p2_list'][6] }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ round['scores']['p2']['p2_list'][7] }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ round['scores']['p2']['p2_list'][8] }}</span>
          </td>
          <td><span>{{ round['scores']['p2']['p2_front_9'] }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ round['scores']['p2']['p2_list'][9] }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ round['scores']['p2']['p2_list'][10] }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ round['scores']['p2']['p2_list'][11] }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ round['scores']['p2']['p2_list'][12] }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ round['scores']['p2']['p2_list'][13] }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ round['scores']['p2']['p2_list'][14] }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ round['scores']['p2']['p2_list'][15] }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ round['scores']['p2']['p2_list'][16] }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ round['scores']['p2']['p2_list'][17] }}</span>
          </td>
          <td><span>{{ round['scores']['p2']['p2_back_9'] }}</span></td>

          <td><span>{{ round['scores']['p2']['p2_total'] }}</span></td>
        </tr>
        
        
                <tr>

          <th data-type="player" class"rowheader">
            {{ round['scores']['p3']['name'] }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ round['scores']['p3']['p3_list'][0] }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ round['scores']['p3']['p3_list'][1] }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ round['scores']['p3']['p3_list'][2] }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ round['scores']['p3']['p3_list'][3] }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ round['scores']['p3']['p3_list'][4] }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ round['scores']['p3']['p3_list'][5] }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ round['scores']['p3']['p3_list'][6] }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ round['scores']['p3']['p3_list'][7] }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ round['scores']['p3']['p3_list'][8] }}</span>
          </td>
          <td><span>{{ round['scores']['p3']['p3_front_9']  }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ round['scores']['p3']['p3_list'][9] }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ round['scores']['p3']['p3_list'][10] }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ round['scores']['p3']['p3_list'][11] }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ round['scores']['p3']['p3_list'][12] }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ round['scores']['p3']['p3_list'][13] }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ round['scores']['p3']['p3_list'][14] }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ round['scores']['p3']['p3_list'][15] }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ round['scores']['p3']['p3_list'][16] }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ round['scores']['p3']['p3_list'][17] }}</span>
          </td>
          <td><span>{{ round['scores']['p3']['p3_back_9']  }}</span></td>

          <td><span>{{ round['scores']['p3']['p3_total'] }}</span></td>
        </tr>
        

        <tr>

          <th data-type="player" class"rowheader">
            {{ round['scores']['p4']['name'] }}
          </th>
          <td>
            <span class="{{hole_1_style}}">{{ round['scores']['p4']['p4_list'][0] }}</span>
          </td>
          <td>
            <span class="{{hole_2_style}}">{{ round['scores']['p4']['p4_list'][1] }}</span>
          </td>
          <td>
            <span class="{{hole_3_style}}">{{ round['scores']['p4']['p4_list'][2] }}</span>
          </td>
          <td>
            <span class="{{hole_4_style}}">{{ round['scores']['p4']['p4_list'][3] }}</span>
          </td>
          <td>
            <span class="{{hole_5_style}}">{{ round['scores']['p4']['p4_list'][4] }}</span>
          </td>
          <td>
            <span class="{{hole_6_style}}">{{ round['scores']['p4']['p4_list'][5] }}</span>
          </td>
          <td>
            <span class="{{hole_7_style}}">{{ round['scores']['p4']['p4_list'][6] }}</span>
          </td>
          <td>
            <span class="{{hole_8_style}}">{{ round['scores']['p4']['p4_list'][7] }}</span>
          </td>
          <td>
            <span class="{{hole_9_style}}">{{ round['scores']['p4']['p4_list'][8] }}</span>
          </td>
          <td><span>{{ round['scores']['p4']['p4_front_9']  }}</span></td>

          <td>
            <span class="{{hole_10_style}}">{{ round['scores']['p4']['p4_list'][9] }}</span>
          </td>
          <td>
            <span class="{{hole_11_style}}">{{ round['scores']['p4']['p4_list'][10] }}</span>
          </td>
          <td>
            <span class="{{hole_12_style}}">{{ round['scores']['p4']['p4_list'][11] }}</span>
          </td>
          <td>
            <span class="{{hole_13_style}}">{{ round['scores']['p4']['p4_list'][12] }}</span>
          </td>
          <td>
            <span class="{{hole_14_style}}">{{ round['scores']['p4']['p4_list'][13] }}</span>
          </td>
          <td>
            <span class="{{hole_15_style}}">{{ round['scores']['p4']['p4_list'][14] }}</span>
          </td>
          <td>
            <span class="{{hole_16_style}}">{{ round['scores']['p4']['p4_list'][15] }}</span>
          </td>
          <td>
            <span class="{{hole_17_style}}">{{ round['scores']['p4']['p4_list'][16] }}</span>
          </td>
          <td>
            <span class="{{hole_18_style}}">{{ round['scores']['p4']['p4_list'][17] }}</span>
          </td>
          <td><span>{{ round['scores']['p4']['p4_back_9'] }}</span></td>

          <td><span>{{ round['scores']['p4']['p4_total'] }}</span></td>
        </tr>

      </tbody>

      <tfoot>

      </tfoot>
    </table>
  </section>
  </div>
  </body>
{% endblock %}